<div class="text-center">
    <h1>About</h1>
    <p class="lead">This is a Node/Express app for learning for gas metering</p>
    <div class="lead">
        Integer vel convallis leo. Mauris lacinia odio et volutpat dapibus. Cras vitae viverra elit, non venenatis
        lacus. Cras a ultricies nunc. Aliquam fringilla, quam non bibendum mollis, lorem dui posuere nibh, sed consequat
        massa dolor non dolor. Nullam sed bibendum nisl, sit amet tincidunt erat. Ut sodales scelerisque diam id
        posuere.
    </div>
    <p></p>
    <p class="lead">Version: 1.0.0</p>
</div>