<div class="jumbotron alert-danger text-center">
    <form method="POST" action="/mock/deleteAll?_method=DELETE">
        <button class="btn btn-danger" type="submit">All data will be deleted</button>
    </form>

</div>