<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">
    Unic possibility to watch gas metering results in graphic form. Enjoy.
  </p>
  <div class="lead mb3">
    Quisque in quam at enim laoreet porta ac id metus. Sed vitae enim pharetra, efficitur purus id, hendrerit massa. Aliquam a erat a nunc mattis gravida in eu augue. Vivamus varius augue sed libero ultricies sollicitudin. Donec eget mauris lectus. Nullam ac libero consectetur, tristique lectus quis, efficitur magna. Donec id est fringilla, mollis arcu iaculis, egestas quam. Praesent venenatis turpis odio, non interdum odio eleifend ac. Nullam et risus bibendum odio posuere viverra. Quisque commodo magna odio, sed dapibus sapien sagittis sed. Quisque ornare tempus erat in posuere.
  </div>
  <a href="/mock/gen" class="btn btn-light btn-lg">Add data and start</a>
</div>