<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Unic possibility to watch gas metering results in graphic form. Enjoy.</p>
  <a href="/mock/gen" class="btn btn-light btn-lg">Add data and start</a>
</div>